@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
html,
body {
    font-family: 'Nanum Myeongjo', 'Spoqa Han Sans', sans-serif;
    background-color: #fafafa;
    color: #000;
    letter-spacing: 0.5px;
    height: 100vh;
    margin: 0;
}

a,
a:hover,
a:focus,
a:visited {
    color: #000;
}